# macOS system files
projekt/.DS_Store

# Python cache folders
projekt/__pycache__/
projekt/**/*.py[cod]
projekt/**/*$py.class

# Virtual environment folders
projekt/v_env_udacity_clean_code/

projekt/venv/
projekt/.env/
projekt/.venv/

# Optional: IDE / Editor files
projekt/.vscode/
projekt/.idea/

# Optional: logs, build artifacts
projekt/**/*.log
projekt/build/
projekt/dist/

