# macOS system files
.DS_Store

# Python cache folders
__pycache__/
**/*.py[cod]
**/*$py.class

# Virtual environment folders
venv/
.env/
.venv/

# Optional: IDE / Editor files
.vscode/


# Optional: logs, build artifacts
**/*.log
build/
dist/

